
#user-name{
    text-align: center;
}

#user-address{
    text-align: center;
}

h2{
    border: 0;
    border-bottom: 1px solid grey;
}


.container{
    min-width: 100%;
    max-width: 100%
}

body {
    font: 12pt;
    font-family: Tahoma, "Geneva", sans-serif;
    line-height: 1.3;
    position:relative
}


@media print {
    @page {
        margin: 1cm, 2cm;

    }
  
}