#user-name{
    text-align: center;
    /* border: 0;
    border-right: 1px solid grey; */

}

#user-address{
    display: inline
   
}

#skills-title{
    text-align: center;
    border: 0;
    border-top: 2px solid grey;
    padding-top: 10px
}

#employment-history,
#education-history{
    text-align: center;
}

#user-connect{
    float:right;
    display: inline-block
}

.container{
    min-width: 100%;
    max-width: 100%
}

body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    position:relative
    
}


@media print {
    @page {
        margin: 1cm, 2cm;

    }
   
}